.body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 24px;
    border-radius: 40px;
    background: #1C1C21;
    margin: 0 4px 0 32px;
    min-height: 80px;
}

.body:not(:first-child) {
    margin: 16px 4px 0 32px;
}

.body::before {
    content: '';
    background: url("./images/side-dotes.svg") no-repeat;
    position: absolute;
    top: 50%;
    left: -32px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}

.image {
    /*position: relative;*/
    width: 80px;
    height: 40px;
    margin-right: 20px;
}

.image img {
    /*position: absolute;*/
    width: 80px;
    height: 40px;
    /*object-fit: cover;*/
}

.name {
    flex: 1 1 254px;
    line-height: 24px;
    margin-right: 20px;
    /*max-width: 254px;*/
}

.price {
    display: flex;
    gap: 8px;
    font-family: 'Iceland', sans-serif;
    font-size: 28px;
    line-height: 24px;
}

.lock {
    margin-left: 20px;
}