@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 272px;
    padding: 0 3px;
}
.image {

}
.price {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-size: 28px;
    line-height: 24px;
    font-family: 'Iceland', sans-serif;
}
.name {
    text-align: center;
    line-height: 24px;
    min-height: 48px;
}
